<% 
  // Helper function to check permissions
  const hasPermission = (module, permissionType = 'manage') => {
    // Admins have all permissions
    if (typeof isAdmin !== 'undefined' && isAdmin) return true;
    // Check if user has the module and the specific permission
    return typeof userPermissions !== 'undefined' && userPermissions && userPermissions[module] && userPermissions[module][permissionType];
  };
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EZ Door || General Settings</title>
    <%- include('partials/linkheader.ejs') %>
  </head>

  <body>
    <div class="page-wrapper">
      <section
        class="listing-wrapper distributer-wrapper position-relative vh-100"
      >
        <div class="container-fluid px-0 h-100">
          <div class="row mx-0 h-100">
            <div class="col-md-12 px-0">
              <div class="h-100">
                <%- include('partials/sidebar.ejs') %>
                <div class="right-side-block">
                  <%- include('partials/header.ejs') %>

                  <div class="card border-0 bg-transparent">
                    <div class="card-body p-0">
                      <div class="p-4 bg-white rounded-3">
                        <h4>General Settings</h4>
                        <form id="updateForm">
                          <div class="row">
                            <div class="col-md-6 mt-4">
                              <div class="form-group">
                                <label for="">Company Name </label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="company_name"
                                  name="company_name"
                                  placeholder="Enter Company Name"
                                  value="<%= company_name ? company_name : '' %>"
                                />
                              </div>
                            </div>
                            <div class="col-md-6 mt-4">
                              <div class="form-group">
                                <label for="">Logo</label>
                                <input
                                  type="file"
                                  class="form-control"
                                  id="logo"
                                  name="logo"
                                  accept=".jpg, .jpeg, .png"
                                  placeholder="Upload image"
                                />
                              </div>
                            </div>

                            <div class="col-md-6 mt-4">
                              <div class="form-group">
                                <label for="">Email </label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="email"
                                  name="email"
                                  placeholder="Enter Email"
                                  value="<%= email ? email : '' %>"
                                />
                              </div>
                            </div>

                            <div class="col-md-6 mt-4">
                              <div class="form-group">
                                <label for="">Mobile No.</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="mobile"
                                  name="mobile"
                                  placeholder="Enter Mobile No."
                                  value="<%= mobile ? mobile : '' %>"
                                />
                              </div>
                            </div>

                            <div class="col-md-6 mt-4">
                              <div class="form-group">
                                <label for="">Address</label>
                                <textarea
                                  class="form-control"
                                  id="address"
                                  name="address"
                                  rows="3"
                                  placeholder="Enter Address"
                                ><%= address ? address : '' %></textarea>
                              </div>
                            </div>
                            <div class="col-md-6 mt-4">
                              <div class="form-group">
                                <label for="">City</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="city"
                                  name="city"
                                  placeholder="Enter City"
                                  value="<%= city ? city : '' %>"
                                />
                              </div>
                            </div>
                            <div class="col-md-6 mt-4">
                              <div class="form-group">
                                <label for="">State</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="state"
                                  name="state"
                                  placeholder="Enter State"
                                  value="<%= state ? state : '' %>"
                                />
                              </div>
                            </div>

                            <div class="col-md-6 mt-4">
                              <div class="form-group">
                                <label for="">Zip/Post Code</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="zip"
                                  name="zip"
                                  placeholder="Enter Zip/Post Code"
                                  value="<%= zip ? zip : '' %>"
                                />
                              </div>
                            </div>

                            <div class="col-md-6 mt-4">
                              <div class="form-group">
                                <label for="">Toll Number</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="toll_number"
                                  name="toll_number"
                                  placeholder="Enter Toll Number"
                                  value="<%= toll_number ? toll_number : '' %>"
                                />
                              </div>
                            </div>

                            <div class="col-md-6 mt-4">
                              <div class="form-group">
                                <label for="">Copyright</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="copyright"
                                  name="copyright"
                                  placeholder="Enter Copyright"
                                  value="<%= copyright ? copyright : '' %>"
                                />
                              </div>
                            </div>

                            <div class="col-md-6 mt-4">
                              <div class="form-group">
                                <label for="">GST Registration No.</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="gst_registration_no"
                                  name="gst_registration_no"
                                  placeholder="Enter GST Registration No."
                                  value="<%= gst_registration_no ? gst_registration_no : '' %>"
                                />
                              </div>
                            </div>
                            <div class="col-md-6 mt-4">
                              <div class="form-group">
                                <label for="">Footer Text</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="footer_text"
                                  name="footer_text"
                                  placeholder="Enter Footer Text"
                                  value="<%= footer_text ? footer_text : '' %>"
                                />
                              </div>
                            </div>
                            <div class="col-md-6 mt-4">
                              <div class="form-group">
                                <label for="">Facebook</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="facebook"
                                  name="facebook"
                                  placeholder="Enter Facebook URL"
                                  value="<%= facebook ? facebook : '' %>"
                                />
                              </div>
                            </div>
                            <div class="col-md-6 mt-4">
                              <div class="form-group">
                                <label for="">Twitter</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="twitter"
                                  name="twitter"
                                  placeholder="Enter Twitter URL"
                                  value="<%= twitter ? twitter : '' %>"
                                />
                              </div>
                            </div>
                            <div class="col-md-6 mt-4">
                              <div class="form-group">
                                <label for="">Instagram</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="instagram"
                                  name="instagram"
                                  placeholder="Enter Instagram URL"
                                  value="<%= instagram ? instagram : '' %>"
                                />
                              </div>
                            </div>
                            <% if (hasPermission('Setting', 'edit')) { %>
                            <div
                              class="col-md-6 ms-auto text-md-end text-center mt-4"
                            >
                              <button type="submit" class="btn btn-primary">
                                Save Changes
                              </button>
                            </div>
                            <% } %>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!------listing-wrapper END-------->
    </div>
    <!------Page-wrapper END-------->
    <%- include('partials/linkfooter.ejs') %>

    <script>
      var editform = $("#updateForm");

      editform.submit(function (e) {
        e.preventDefault();

        // Clear any previous error messages
        $(".error").remove();

        var formData = new FormData(editform[0]);

        // Validation
        var isValid = true;

        // Validate Company Name
        if ($("#company_name").val().trim() === "") {
          $("#company_name").after(
            '<span class="error text-danger">Company Name is required</span>'
          );
          isValid = false;
        }

        // Validate Mobile Number (Make sure it is not empty)
        if ($("#mobile").val().trim() === "") {
          $("#mobile").after(
            '<span class="error text-danger">Mobile Number is required</span>'
          );
          isValid = false;
        }

        // Validate Logo (Ensure a file is selected)
        if ($("#logo")[0].files.length === 0) {
          $("#logo").after(
            '<span class="error text-danger">Logo is required</span>'
          );
          isValid = false;
        }

        // Validate Footer Text
        if ($("#footer_text").val().trim() === "") {
          $("#footer_text").after(
            '<span class="error text-danger">Footer Text is required</span>'
          );
          isValid = false;
        }

        // If validation fails, stop the form submission
        if (!isValid) {
          return;
        }

        // Proceed with AJAX request
        $.ajax({
          type: "POST",
          cache: false,
          enctype: "multipart/form-data",
          processData: false,
          contentType: false,
          url: "/admin/general-settings",
          data: formData,
          success: (res) => {
            renderToast({
              message: res.message,
              icon: "success",
            });
            setTimeout(() => {
              window.location.reload();
            }, 1000);
          },
          error: (res) => {
            console.error(res);
          },
        });
      });
    </script>
  </body>
</html>
